<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="60" />
    <title>Gratulerer med dagen!</title>
    <style>
      body {
        background-color: white;
        padding: 2rem;
        font-family: sans-serif;
        max-height: 100vh;
      }
      menu {
        height: 5rem;
      }

      .logo {
        height: 5rem;
      }

      .content {
        display: flex;
        gap: 1rem;
        height: calc(100vh - 10rem);
      }

      .birthday,
      .orn {
        background-color: #f2f2f2;
        border-radius: 1%;
      }

      .birthday {
        padding: 4rem 3rem;
      }
      .orn {
        padding: 1rem;
      }

      h3 {
        font-size: 4rem;
        font-weight: 500;
        margin: 0;
      }

      h2 {
        font-size: 3.5rem;
        font-weight: 100;
        margin: 1rem 0;
      }
      h1 {
        font-size: 4rem;
        font-weight: 600;
        margin: 0;
      }

      .quote {
        margin-top: 5rem;
        max-width: 60%;
      }

      .quote blockquote {
        font-size: 1.5rem;
      }

      .orn img {
        height: 90%;
      }

      .orn p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
      }
    </style>
  </head>
  <body>
    <menu>
      <img class="logo" src="../assets/Logo.png" alt="Invasjon Norge" />
    </menu>
    <section class="content">
      <article class="birthday">
        <h3>{{ date }}</h3>
        <h2>Dagens bursdagsbarn er</h2>
        <h1>{{ name }}</h1>
        <div class="quote">
          <blockquote>
            {{ greeting }}
          </blockquote>
          <p>
            - <i>{{ greetBy }}</i>
          </p>
        </div>
      </article>
      <article class="orn">
        <h4>Örns hjörna</h4>
        <img src="../assets/orn.png" alt="Powered by Örn" />
        <p>{{ ornQuote }}</p>
      </article>
    </section>
  </body>
</html>
